body{

    background-color: black
}
* { padding: 0; margin: 0; }
canvas { background: #eee; display: block; margin: 0 auto; }
/* #traffic {
    padding-bottom: 20%;
    padding-left: 50%;
    left: 50px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
} */